<app-toast [message]="toast.message"></app-toast>

<div class="b"style="margin-top:40px; padding:50px; background-color:#f31616;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
  <h3 class="t" >Login</h3>
  <div class="b">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" style="margin-bottom: 15px;" [ngClass]="setClassEmail()">
       
        <input class="form-control" type="email" name="email"
               formControlName="email" placeholder="Email" autofocus><br>
      </div>
      <div class="input-group" style="margin-bottom: 15px;"  [ngClass]="setClassPassword()">
        
        <input class="form-control" type="password" name="password"
               formControlName="password" placeholder="Password">
               <br>
               <br>
      </div>
      <button class="btn btn-primary" style="background-color: rgb(58, 58, 49) ;" type="submit" [disabled]="!loginForm.valid">
        
        Login
      </button>
      <button type="button" class="btn btn-secondary" (click)="moveToRegister()">Register</button>
    </form>
  </div>
</div>